* {
  margin: 0;
  padding: 0;
}

/* Common Styles */
body {
  background: #FFFFFF url(images/background.gif) repeat-x;
  font: normal small Arial, Helvetica, sans-serif;
  color: #999999;
}

fieldset {
  border: none;
}

h1, h2, h3 {
  margin: 0;
  color: #11A6D4;
}

h2 {
  margin-bottom: .5em;
  font-size: 1.8em;
}

h3 {
  margin-bottom: 1em;
  font-size: 1em;
}

p, blockquote, ul, ol {
  margin-bottom: 1.5em;
  line-height: 1.8em;
}

ul {
  margin-left: 2em;
  list-style: square;
}

ol {
  margin-left: 2em;
}

a {
  color: #EA672E;
}

a:hover {
  text-decoration: none;
  color: #11A6D4;
}

img {
  border: none;
}

/* Header */

#header {
  width: 700px;
  height: 130px;
  margin: 0 auto;
  background: url(images/header.gif) repeat-x;
}

/*  Logo, Site name, Site slogan */

#logotop {
  float: left;
  padding: 65px 0 0 0;
}

#logotop h1 {
  text-transform: uppercase;
  font-size: 2em;
}

#logotop h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.2em;
}

#logotop a {
  text-decoration: none;
  color: #FFFFFF;
}

/* Primary Links */

#primary {
  width: 700px;
  height: 40px;
  margin: 0 auto;
}

#primary ul {
  margin: 0;
  list-style: none;
  line-height: normal;
}

#primary li {
  display: inline;
}

#primary a {
  display: block;
  float: left;
  height: 26px;
  padding: 14px 18px 0 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

#primary a:hover {
  text-decoration: underline;
}

#primary .first a {
  padding-left: 0;
  background: none;
}

/* Content */

#content {
  width: 700px;
  margin: 0 auto;
  padding: 20px 0;
}

/* Main */

#main {
  float: left;
  width: 460px;
}


/* Mission */

#mission {
  border: dashed 1px #B4E117;
  padding: 5px;
}

#missionbox {
  margin: 0 0 1em 0;
  padding: 5px;
}

/* Right Sidebar */

#sidebar {
  float: right;
  width: 220px;
}

/* Footer */

#footer {
  clear: both;
  width: 700px;
  margin: 0 auto 2em auto;
  border-top: 1px solid #CCCCCC;
}

/* Themed */

#themed {
  margin: 0;
  padding: 8px;
  text-align: center;
  font-size: x-small;
}

#themed a {
  font-weight: bold;
}